@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9851 0 0);
  --foreground: oklch(0.2004 0.0192 266.0216);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2004 0.0192 266.0216);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2004 0.0192 266.0216);
  --primary: oklch(0.6526 0.1547 58.9453);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9612 0 0);
  --secondary-foreground: oklch(0.2004 0.0192 266.0216);
  --muted: oklch(0.9612 0 0);
  --muted-foreground: oklch(0.5486 0 0);
  --accent: oklch(0.9612 0 0);
  --accent-foreground: oklch(0.2004 0.0192 266.0216);
  --destructive: oklch(0.6004 0.1809 25.0969);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9189 0 0);
  --input: oklch(0.9189 0 0);
  --ring: oklch(0.6526 0.1547 58.9453);
  --chart-1: oklch(0.6526 0.1547 58.9453);
  --chart-2: oklch(0.5511 0.1503 45.0733);
  --chart-3: oklch(0.3504 0.0501 265.5243);
  --chart-4: oklch(0.6991 0.0995 84.4330);
  --chart-5: oklch(0.6002 0.0998 150.0783);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2004 0.0192 266.0216);
  --sidebar-primary: oklch(0.6526 0.1547 58.9453);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9612 0 0);
  --sidebar-accent-foreground: oklch(0.2004 0.0192 266.0216);
  --sidebar-border: oklch(0.9189 0 0);
  --sidebar-ring: oklch(0.6526 0.1547 58.9453);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.06;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.06), 0px 1px 2px -2px hsl(0 0% 0% / 0.06);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.06), 0px 1px 2px -2px hsl(0 0% 0% / 0.06);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.06), 0px 2px 4px -2px hsl(0 0% 0% / 0.06);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.06), 0px 4px 6px -2px hsl(0 0% 0% / 0.06);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.06), 0px 8px 10px -2px hsl(0 0% 0% / 0.06);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.15);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1205 0.0097 252.8876);
  --foreground: oklch(0.9791 0 0);
  --card: oklch(0.1686 0.0110 268.0303);
  --card-foreground: oklch(0.9791 0 0);
  --popover: oklch(0.1686 0.0110 268.0303);
  --popover-foreground: oklch(0.9791 0 0);
  --primary: oklch(0.6526 0.1547 58.9453);
  --primary-foreground: oklch(0.1205 0.0097 252.8876);
  --secondary: oklch(0.2207 0.0091 255.6084);
  --secondary-foreground: oklch(0.9791 0 0);
  --muted: oklch(0.2207 0.0091 255.6084);
  --muted-foreground: oklch(0.6500 0 0);
  --accent: oklch(0.2207 0.0091 255.6084);
  --accent-foreground: oklch(0.9791 0 0);
  --destructive: oklch(0.6004 0.1809 25.0969);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.2207 0.0091 255.6084);
  --input: oklch(0.2207 0.0091 255.6084);
  --ring: oklch(0.6526 0.1547 58.9453);
  --chart-1: oklch(0.6526 0.1547 58.9453);
  --chart-2: oklch(0.5511 0.1503 45.0733);
  --chart-3: oklch(0.3504 0.0501 265.5243);
  --chart-4: oklch(0.6991 0.0995 84.4330);
  --chart-5: oklch(0.6002 0.0998 150.0783);
  --sidebar: oklch(0.1686 0.0110 268.0303);
  --sidebar-foreground: oklch(0.9791 0 0);
  --sidebar-primary: oklch(0.6526 0.1547 58.9453);
  --sidebar-primary-foreground: oklch(0.1205 0.0097 252.8876);
  --sidebar-accent: oklch(0.2207 0.0091 255.6084);
  --sidebar-accent-foreground: oklch(0.9791 0 0);
  --sidebar-border: oklch(0.2207 0.0091 255.6084);
  --sidebar-ring: oklch(0.6526 0.1547 58.9453);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.375rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 2px 4px -2px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 4px 6px -2px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 8px 10px -2px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}